@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


:root {
	--color-background-1: #0e172f;
	--color-background-2: #2aae41;
	--color-background-3: #e3e3e3;
	--color-foreground-1: #eaeaea;
	--color-foreground-2: #030303;
	--color-link: #076d92;
	--border-radius-small: 12px;
	--border-radius-medium: 25px;
	--border-radius-large: 75px;
	--spacing-half: 5px;
	--spacing-1: 10px;
	--spacing-2: 26px;
	--spacing-3: 35px;
	--spacing-4: 42px;
	--spacing-5: 50px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background: var(--color-background-1) url("cactus-background.png") repeat 0 0;
	color: var(--color-foreground-1);
	font-family: 'Baloo 2', sans-serif;
	font-size: 20px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
	font-size: 50px;
}

h3 {
	margin: var(--spacing-half) 0;
	font-size: 25px;
}

h4 {
	font-size: 22px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ul {
	margin-left: var(--spacing-4);
}

a {
	color: var(--color-link);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.links {
	line-break: anywhere;
}

header {
	padding: 0 50px;
	padding-bottom: calc(var(--border-radius-medium) / 2); 
	background-color: var(--color-background-2);
	border-bottom-left-radius: var(--border-radius-medium);
	border-bottom-right-radius: var(--border-radius-medium);
	margin-bottom: var(--spacing-3);
}


main div:nth-child(odd) {
	background-color: var(--color-background-3);
	color: var(--color-foreground-2);
	width: 66%;
	border: 3px solid var(--color-background-2);
	border-left: none;
	border-top-right-radius: var(--border-radius-large);
	border-bottom-right-radius: var(--border-radius-large);
	padding: calc(var(--border-radius-large) / 2);
	margin-top: var(--spacing-3);
	margin-bottom: var(--spacing-3);
	opacity: 0;
	margin-left: -66%;
	transition: margin-left 1s ease, opacity 3s ease;
}

main div:nth-child(even) {
	text-align: right;
	background-color: var(--color-background-3);
	color: var(--color-foreground-2);
	width: 66%;
	border: 3px solid var(--color-background-2);
	border-right: none;
	border-top-left-radius: var(--border-radius-large);
	border-bottom-left-radius: var(--border-radius-large);
	padding: calc(var(--border-radius-large) / 2);
	opacity: 0;
	margin-left: 134%;
	margin-top: var(--spacing-3);
	margin-bottom: var(--spacing-3);
	transition: margin-left 1s ease, opacity 3s ease;
}


main div:nth-child(odd).show {
	opacity: 1;
	margin-left: 0;
}

main div:nth-child(even).show {
	opacity: 1;
	margin-left: 34%;
}

footer {
	padding: calc(var(--border-radius-medium) / 2) 50px;
	background-color: var(--color-background-2);
	border-top-left-radius: var(--border-radius-medium);
	border-top-right-radius: var(--border-radius-medium);
	margin-top: var(--spacing-3);
}

img {
	max-width: 90%;
	display: block;
	margin:  auto;
	border-radius: var(--border-radius-small);
	padding: var(--border-radius-small);
	background-color: white;
}